#catbytag,
.catbytag,
#catbytag a,
.catbytag-column-heading,
.catbytag-column-heading a {
	vertical-align:bottom;
	text-align:left;
	font-weight:normal;
}

#catbytag th,
#catbytag td {
	border:1px solid #ccc;
	width:1em;
}

th.catbytag-title {
	vertical-align:bottom;
	height: 7em !important; /* Ajust manually to set the height of your Header row*/
	white-space:nowrap;
}

.catbytag_NOT_IE8,
#catbytag-column-heading .catbytag_NOT_IE8 {
	margin: 0 0 -2px 4px;
	white-space:nowrap;
	max-width:0.5em;
	-ms-transform: rotate(-90deg); /* Nifty Rotate Text thing for IE 9 */
	-webkit-transform: rotate(-90deg); /* Nifty Rotate Text thing for Chrome, Safari, Opera */
	transform: rotate(-90deg); /* Nifty Rotate Text thing for Other CSS3 Browsers */
}

.catbytag_IE8ONLY,
#catbytag-column-heading .catbytag_IE8ONLY { /*Nifty Rotate Text thing for Internet Explorer (IE 8)*/
	height: 7em !important; /* Ajust manually to set the height of your Header row*/
	writing-mode: tb-rl !important;	/* If problems in IE delete tb-rl */
	filter:fliph flipv !important;	/* If problems in IE delete */
}

#catbytag h3{
	font-weight:normal;
	padding:0 0.5em;
}
